---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/351777754364129280.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="dc01adbdead93624a73833771cfe84aa",
        oauth_signature="LiLOmlz2z%2BqmPVkPTYcYnOY6qk4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373871923", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwisY2HgiHKR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 15 Jul 2013 07:05:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1373872594'
      X-Transaction:
      - 6ebbbcde22fe1a49
    body:
      encoding: UTF-8
      string: '{"created_at":"Mon Jul 01 19:02:07 +0000 2013","id":351777754364129280,"id_str":"351777754364129280","text":"@37signals
        How long does it take to transfer projects from Classic to New? We''ve seem
        to hit a standstill.","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":11132462,"in_reply_to_user_id_str":"11132462","in_reply_to_screen_name":"37signals","user":{"id":36397199,"id_str":"36397199","name":"McFadden\/Gavender","screen_name":"MGadvertising","location":"Tucson,
        AZ","description":"McFadden\/Gavender Advertising is a full-service national
        advertising agency based in Southern-Arizona.","url":"http:\/\/t.co\/u328XAg0KI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/u328XAg0KI","expanded_url":"http:\/\/www.mcfaddengavender.com","display_url":"mcfaddengavender.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":271,"friends_count":286,"listed_count":4,"created_at":"Wed
        Apr 29 16:18:44 +0000 2009","favourites_count":3,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":662,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"252322","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/716930992\/658fef3bee89032cfe7e9bd90db1f5e3.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/716930992\/658fef3bee89032cfe7e9bd90db1f5e3.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/2874613167\/48884caa47aab8b3524c7347c33ea418_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/2874613167\/48884caa47aab8b3524c7347c33ea418_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/36397199\/1353437451","profile_link_color":"5B3F99","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"29272F","profile_text_color":"666666","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"37signals","name":"37signals","id":11132462,"id_str":"11132462","indices":[0,10]}]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Mon, 15 Jul 2013 07:05:24 GMT
recorded_with: VCR 2.5.0
