---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/355671909280653315.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="83a1a13c67461dd730331988711316d6",
        oauth_signature="6p1wc0vvM8QOTcmFBE4l7rzUVXs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373873596", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwisY2HgiHKR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 15 Jul 2013 07:33:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1373874496'
      X-Transaction:
      - 1189b05f977e7911
    body:
      encoding: UTF-8
      string: '{"created_at":"Fri Jul 12 12:56:05 +0000 2013","id":355671909280653315,"id_str":"355671909280653315","text":"@steveklabnik
        @erniemiller Aw, thanks for your support ;)","source":"\u003ca href=\"http:\/\/twitter.com\/#!\/download\/ipad\"
        rel=\"nofollow\"\u003eTwitter for iPad\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":355671803944898560,"in_reply_to_status_id_str":"355671803944898560","in_reply_to_user_id":22386062,"in_reply_to_user_id_str":"22386062","in_reply_to_screen_name":"steveklabnik","user":{"id":13235612,"id_str":"13235612","name":"Andy
        Lindeman","screen_name":"alindeman","location":"Atlanta, GA","description":"Software
        generalist focused on web and mobile. I like open source and work primarily
        on RSpec.","url":"http:\/\/t.co\/9GoG8LrAc1","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/9GoG8LrAc1","expanded_url":"http:\/\/www.upgradingtorails4.com\/","display_url":"upgradingtorails4.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1546,"friends_count":1143,"listed_count":88,"created_at":"Fri
        Feb 08 05:13:54 +0000 2008","favourites_count":627,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":2554,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/1186941823\/legome_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/1186941823\/legome_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"steveklabnik","name":"Steve
        Klabnik","id":22386062,"id_str":"22386062","indices":[0,13]},{"screen_name":"erniemiller","name":"Ernie
        Miller","id":16143891,"id_str":"16143891","indices":[14,26]}]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Mon, 15 Jul 2013 07:33:17 GMT
[...]
