---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=Here%E2%80%99s+to+the+crazy+ones.+The+misfits.+The+rebels.+The+troublemakers.+The+round+pegs+in+the+square+holes.+The+ones...+http%3A%2F%2Flvh.me%3A7000%2Ft%2F23
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="81d9e5850a3214a165a2ad9e0d16a6f9",
        oauth_signature="%2BlTkxYKMllXxILbVgezXRh7HOYg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373100799", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwisY2HgiHKR",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"754371a28290cbc77b1b6315f644025c"'
      Last-Modified:
      - Sat, 06 Jul 2013 08:53:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Mid:
      - 810403a93c7c65269428c62c69e2830bbd4afb68
      X-Transaction:
      - 00fbe806ee7e1229
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef114df016f9a
    body:
      encoding: UTF-8
      string: '{"retweet_count":0,"user":{"is_translator":false,"name":"Tweetbox 101","profile_sidebar_border_color":"C0DEED","url":null,"lang":"de","profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","default_profile_image":true,"location":null,"time_zone":null,"follow_request_sent":false,"id":1444843380,"favourites_count":0,"profile_background_tile":false,"friends_count":0,"profile_sidebar_fill_color":"DDEEF6","followers_count":0,"screen_name":"tweetbox101","following":false,"utc_offset":null,"verified":false,"profile_background_color":"C0DEED","notifications":false,"geo_enabled":false,"default_profile":true,"profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","protected":false,"description":null,"profile_link_color":"0084B4","created_at":"Mon
        May 20 21:52:39 +0000 2013","id_str":"1444843380","listed_count":0,"profile_use_background_image":true,"statuses_count":53,"entities":{"description":{"urls":[]}},"profile_text_color":"333333","profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","contributors_enabled":false},"in_reply_to_status_id_str":null,"retweeted":false,"truncated":false,"source":"\u003Ca
        href=\"http:\/\/birdview.dev\" rel=\"nofollow\"\u003ETweetbox Ascending\u003C\/a\u003E","in_reply_to_user_id_str":null,"entities":{"user_mentions":[],"hashtags":[],"urls":[{"display_url":"lvh.me:7000\/t\/1","expanded_url":"http:\/\/lvh.me:7000\/t\/1","indices":[118,140],"url":"http:\/\/t.co\/HFlUnURL5r"}]},"in_reply_to_status_id":null,"id_str":"353436490669375489","place":null,"in_reply_to_screen_name":null,"id":353436490669375489,"geo":null,"created_at":"Sat
        Jul 06 08:53:20 +0000 2013","favorited":false,"text":"Here\u2019s to the crazy
        ones. The misfits. The rebels. The troublemakers. The round pegs in the square
        holes. The ones... http:\/\/t.co\/HFlUnURL5r","possibly_sensitive":false,"contributors":null,"coordinates":null,"in_reply_to_user_id":null}'
  recorded_at: Sat, 06 Jul 2013 08:53:20 GMT
recorded_with: VCR 2.5.0
