---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=Rainmakers%20:)&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="4087ac799f24659096f523792037c4f6",
        oauth_signature="MGr6U9C56yJNQFxbhPr%2BKizdlXQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373622112", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwisY2HgiHKR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 12 Jul 2013 09:41:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1373623013'
      X-Transaction:
      - 658defbec456de47
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Wed
        Jul 10 04:12:33 +0000 2013","id":354815379941498880,"id_str":"354815379941498880","text":"The
        Rainmakers: How Human Beings Control the Weather http:\/\/t.co\/J8DlGb17gY
        | inget State of Fear-nya Michael Crichton jadinya.. :))","source":"\u003ca
        href=\"http:\/\/twitter.com\/tweetbutton\" rel=\"nofollow\"\u003eTweet Button\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":44521307,"id_str":"44521307","name":"Tia","screen_name":"adit_adit","location":"Persimpangan
        Westeros-Arda","description":"Aku ngetweet apa yang kusuka dan kubaca. Tentang
        film, buku, Cumberbatch, Middle-earth,  dll. | fangirl | Segera terbit Juli
        2013: novelku: #Reasons","url":"http:\/\/t.co\/EuFqRJRtHg","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/EuFqRJRtHg","expanded_url":"http:\/\/aditiayudis.wordpress.com\/","display_url":"aditiayudis.wordpress.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1704,"friends_count":309,"listed_count":25,"created_at":"Thu
        Jun 04 02:15:10 +0000 2009","favourites_count":555,"utc_offset":25200,"time_zone":"Jakarta","geo_enabled":false,"verified":false,"statuses_count":84684,"lang":"id","contributors_enabled":false,"is_translator":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/378800000009764019\/04849a0de547a8b1e50fb8897670c582.jpeg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/378800000009764019\/04849a0de547a8b1e50fb8897670c582.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/378800000082455141\/f8e8c0ef5eade5927a876f6466439c48_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/378800000082455141\/f8e8c0ef5eade5927a876f6466439c48_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/44521307\/1372044195","profile_link_color":"0084B4","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"DDFFCC","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/J8DlGb17gY","expanded_url":"http:\/\/gizmodo.com\/the-rainmakers-how-human-beings-control-the-weather-707081383","display_url":"gizmodo.com\/the-rainmakers\u2026","indices":[53,75]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":true,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Mon
        Jul 08 18:15:02 +0000 2013","id":354302622808817664,"id_str":"354302622808817664","text":"\u201c@Yumi_Pie:
        @malika_walele I played with no rails and I got 2 strikes :D Rainmakers back
        in action!\u201d Haha you''re a champ:)","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_[...]
