/ score leads

= logo_header score_title(params[:score])

/ search form
= render 'search_form'

/ page entries
- page_entries = page_entries_info @leads, entry_name: score_title(params[:score]).try(:downcase)
= page_entries

hr

.leads-wrapper
  = render partial: 'lead', collection: @leads

hr

= paginate @leads, window: 2
= page_entries
