---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?count=20&page=1&q=MailChimp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="247b177b4ade35e4b745116a998df6e1",
        oauth_signature="quuiZHITh0qecXCnbAOZoJftOzM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1375173755", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwisY2HgiHKR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 30 Jul 2013 08:42:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1375174656'
      X-Transaction:
      - 9b780567292e5d8d
    body:
      encoding: UTF-8
      string: '[{"id":14377870,"id_str":"14377870","name":"MailChimp","screen_name":"MailChimp","location":"Atlanta,
        GA","description":"MailChimp is the best way to design, send, and share email
        newsletters. Email is serious business, which is why we never smile.","url":"http:\/\/t.co\/eAiQvfVuyd","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/eAiQvfVuyd","expanded_url":"http:\/\/www.mailchimp.com","display_url":"mailchimp.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":98364,"friends_count":16895,"listed_count":4221,"created_at":"Sun
        Apr 13 20:59:06 +0000 2008","favourites_count":1964,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":19620,"lang":"en","status":{"created_at":"Mon
        Jul 29 23:45:31 +0000 2013","id":361995936387440640,"id_str":"361995936387440640","text":"@IATV
        Hi Jan, sorry to hear about any trouble. If you have any examples of where
        things are going wrong ... https:\/\/t.co\/dcV3WTJmD9","source":"\u003ca href=\"http:\/\/longreply.com\"
        rel=\"nofollow\"\u003eLongReply\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":361992855625019395,"in_reply_to_status_id_str":"361992855625019395","in_reply_to_user_id":17151314,"in_reply_to_user_id_str":"17151314","in_reply_to_screen_name":"IATV","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"https:\/\/t.co\/dcV3WTJmD9","expanded_url":"https:\/\/longreply.com\/r\/661d9bde","display_url":"longreply.com\/r\/661d9bde","indices":[108,131]}],"user_mentions":[{"screen_name":"IATV","name":"Jan
        Jursa","id":17151314,"id_str":"17151314","indices":[0,5]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"profile_background_color":"E95C41","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/590002123\/90u6vbyztsu9dnw71gwm.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/590002123\/90u6vbyztsu9dnw71gwm.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/3024276741\/9fd71555b3317b7add1f2e2b5d4fd6da_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/3024276741\/9fd71555b3317b7add1f2e2b5d4fd6da_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14377870\/1373481930","profile_link_color":"E95C41","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"A3D9E8","profile_text_color":"3F3F38","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":109607256,"id_str":"109607256","name":"MailChimp
        Status","screen_name":"MailChimpStatus","location":"Everywhere. like Santa","description":"What''s
        going on with MailChimp''s servers?","url":"http:\/\/t.co\/3cin0xMBRj","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/3cin0xMBRj","expanded_url":"http:\/\/status.mailchimp.com","display_url":"status.mailchimp.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":5636,"friends_count":3,[...]
[...]
- request:
    method: post
    uri: https://<TWITTER_CONSUMER_KEY>:<TWITTER_CONSUMER_SECRET>@api.twitter.com/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"87f5a16a0576dafbb5c8d33eeaabfe1c"'
      Last-Modified:
      - Tue, 30 Jul 2013 08:42:41 GMT
      Status:
      - 200 OK
      X-Mid:
      - b939df701cfc1c5187dc5b0a89c8b862e0508c62
      X-Transaction:
      - bdff151c30e24faa
    body:
      encoding: UTF-8
      string: '{"access_token":"AAAAAAAAAAAAAAAAAAAAAJu4QwAAAAAAVM71GL1x6BF8XECJXnSUUtRr7S8%3D5pHyluqeth6qY61G01U8deQ0F01qBEh320yR0E3Y7M","token_type":"bearer"}'
  recorded_at: Tue, 30 Jul 2013 08:42:41 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=MailChimp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJu4QwAAAAAAVM71GL1x6BF8XECJXnSUUtRr7S8%3D5pHyluqeth6qY61G01U8deQ0F01qBEh320yR0E3Y7M
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 30 Jul 2013 08:42:41 GMT
   [...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=20&screen_name=MailChimp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJu4QwAAAAAAVM71GL1x6BF8XECJXnSUUtRr7S8%3D5pHyluqeth6qY61G01U8deQ0F01qBEh320yR0E3Y7M
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 30 Jul 2013 08:42:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1375174664'
      X-Transaction:
      - 2813b7fca12b71dd
    body:
      encoding: UTF-8
      string: '[{"created_at":"Mon Jul 29 23:45:31 +0000 2013","id":361995936387440640,"id_str":"361995936387440640","text":"@IATV
        Hi Jan, sorry to hear about any trouble. If you have any examples of where
        things are going wrong ... https:\/\/t.co\/dcV3WTJmD9","source":"\u003ca href=\"http:\/\/longreply.com\"
        rel=\"nofollow\"\u003eLongReply\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":361992855625019395,"in_reply_to_status_id_str":"361992855625019395","in_reply_to_user_id":17151314,"in_reply_to_user_id_str":"17151314","in_reply_to_screen_name":"IATV","user":{"id":14377870,"id_str":"14377870","name":"MailChimp","screen_name":"MailChimp","location":"Atlanta,
        GA","description":"MailChimp is the best way to design, send, and share email
        newsletters. Email is serious business, which is why we never smile.","url":"http:\/\/t.co\/eAiQvfVuyd","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/eAiQvfVuyd","expanded_url":"http:\/\/www.mailchimp.com","display_url":"mailchimp.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,[...]
