---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=Aenean+eu+leo+quam.+Pellentesque+ornare+sem+lacinia%0A++++++++quam+venenatis+vestibulum.+Nulla+vitae+elit+libero%2C+a+...+http%3A%2F%2Flvh.me%3A7000%2Ftweets%2Ftweetbox101%2F1
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="01c328e740c74b71837b491ed3a1ccee",
        oauth_signature="UIXvhj%2Ffcqi91pPpk%2Fzv5CzE0Yo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1372111777", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwisY2HgiHKR",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8379dc56fd71be0b80aceef49db4afaa"'
      Last-Modified:
      - Mon, 24 Jun 2013 22:09:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Mid:
      - e13212d2b3a82b43673ccff00822d1c1be4a59db
      X-Transaction:
      - 19ea0c9a4adc4429
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef114d684c69b
    body:
      encoding: US-ASCII
      string: ! '{"in_reply_to_status_id_str":null,"in_reply_to_status_id":null,"user":{"name":"Tweetbox
        101","profile_background_color":"C0DEED","lang":"de","screen_name":"tweetbox101","id":1444843380,"profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","verified":false,"default_profile":true,"notifications":false,"profile_link_color":"0084B4","statuses_count":44,"contributors_enabled":false,"id_str":"1444843380","profile_use_background_image":true,"following":false,"utc_offset":null,"profile_text_color":"333333","created_at":"Mon
        May 20 21:52:39 +0000 2013","listed_count":0,"profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/sticky\/default_profile_images\/default_profile_1_normal.png","is_translator":false,"profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","time_zone":null,"follow_request_sent":false,"protected":false,"profile_sidebar_border_color":"C0DEED","description":null,"friends_count":0,"followers_count":0,"profile_background_tile":false,"default_profile_image":true,"profile_sidebar_fill_color":"DDEEF6","url":null,"entities":{"description":{"urls":[]}},"favourites_count":0,"geo_enabled":false,"location":null},"in_reply_to_screen_name":null,"in_reply_to_user_id_str":null,"id_str":"349288233819058176","contributors":null,"geo":null,"created_at":"Mon
        Jun 24 22:09:39 +0000 2013","favorited":false,"truncated":false,"source":"\u003Ca
        href=\"http:\/\/birdview.dev\" rel=\"nofollow\"\u003ETweetbox Ascending\u003C\/a\u003E","entities":{"user_mentions":[],"hashtags":[],"urls":[{"expanded_url":"http:\/\/lvh.me:7000\/tweets\/tweetbox101\/1","url":"http:\/\/t.co\/ioNBgfHdjH","indices":[118,140],"display_url":"lvh.me:7000\/tweets\/tweetbo\u2026"}]},"possibly_sensitive":false,"place":null,"id":349288233819058176,"coordinates":null,"in_reply_to_user_id":null,"retweet_count":0,"text":"Aenean
        eu leo quam. Pellentesque ornare sem lacinia\n        quam venenatis vestibulum.
        Nulla vitae elit libero, a ... http:\/\/t.co\/ioNBgfHdjH","retweeted":false}'
  recorded_at: Mon, 24 Jun 2013 22:09:39 GMT
recorded_with: VCR 2.5.0
