---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=status+posted+text
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="4a1d1daae163b3690607625a52ba4f67",
        oauth_signature="%2Bh0T9uWVjfuR8ajHdhX8TH1YCr8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1372257543", oauth_token="token_string", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"errors":[{"message":"Invalid or expired token","code":89}]}'
  recorded_at: Wed, 26 Jun 2013 14:39:04 GMT
recorded_with: VCR 2.5.0
