/ incoming tweets
= logo_header 'Incoming tweets'

div#show-tweets style='display: none'
  = link_to 'Show new tweets.', 'javascript:;'

= content_tag :div, id: "tweets", class: "incoming tweets",
  data: {url: stream_project_tweets_url(@project), min_id: "#{ @tweets.map(&:twitter_id).max }"} do
  = render_conversation_for_tweets(@tweets)

= render 'tweets_pagination', tweets: @tweets

/  = logo_header 'Incoming tweets', link_to(icon_tag(:undo, 'Show last resolved tweet'), 'javascript:;', class: 'link-to-last-resolved-tweet', style: 'display: none'
/ - if @tweets.empty?
/   - if @project.twitter_accounts.any?
/     / inbox zero
/     = logo_header 'Inbox Zero'
/     p All clear, time for a Moment of Zen.

/     / placeholder
/     div#tweets class="incoming tweets"

/   - else
/     / blank slate
/     = logo_header 'Incoming Tweets'

/     p
/       ' Once you connect a Twitter account, we'll fetch <br />
/       ' your @mentions and search results so you'll <br />
/       ' be able to resolve them with the help of Tweetbox.

/     .space-half

/     = link_to 'Connect a Twitter account',  [@project, :twitter_accounts], class: 'btn btn-default'
