h3 Previous tweets
= debug @tweet.previous_tweets

h3 Tweet
= debug @tweet

h3 Future tweets
= debug @tweet.future_tweets

h3 Conversation with author
= debug @tweet.conversation_with_author

h3 Conversation
= debug @tweet.conversation
