/ show tweet

= logo_header 'Tweet'

.tweets
  = render 'conversation_for_tweet', tweet: @tweet

/ links back
ul class="list-inline"
  li = link_to "&laquo; Back to Incoming Tweets".html_safe, [:incoming, @project, :tweets]
