/ tweet stream
= logo_header 'Tweet Stream'

div#tweets class="stream tweets"
  = render_cached_conversation_for_tweets(@tweets)

/ pagination
= paginate @tweets

/ TODO: Blank slate?
/ e.g. from resolved
/ resolved tweets
/ - if @tweets.any?
/   = logo_header 'Resolved Tweets'
/   .tweets-wrapper
/     = render partial: 'tweets/tweet_in_conversation', collection: @tweets, as: :tweet

/ / blank slate
/ - if @tweets.empty?
/   h3 Resolved Tweets
/   p Once you resolve your first tweets <br /> in Tweetbox, they'll show up here.
