/ new twitter account
.space-two-and-a-half
= image_tag 'Tweetbox-Logo-und-Schriftzug.png', width: 200
h3 Connect a Twitter account
p
  ' Once you
  = link_to 'connect a Twitter account', authorize_project_twitter_accounts_path(@project, access_scope: 'write'), method: :post
  '  we'll fetch <br />
  ' your @mentions and
  = link_to 'search results', project_searches_path(@project)
  '  so you'll <br />
  ' be able to resolve them with the help of Tweetbox.

.space-half
= link_to 'Connect a Twitter account',  authorize_project_twitter_accounts_path(@project, access_scope: 'write'), method: :post, class: 'btn'

/ h3 Connect a Twitter account

/ p
/   | Tweetbox will help you handle your incoming tweets for as many accounts as you like in a quick and fun way. Connecting your Twitter account will allow you to fetch tweets and mentions from Twitter, and reply to tweets as they come in.

/ = link_to 'Connect a Twitter account', authorize_project_twitter_accounts_path(@project, access_scope: 'write'), method: :post, class: 'btn btn-primary'
/ '  or
/ = link_to 'cancel', project_twitter_accounts_path(@project)

/ / .space-two

/ - if Rails.env.development?
/   .space-one

/   = link_to 'Authorize read-only', authorize_project_twitter_accounts_path(@project, access_scope: 'read'), method: :post, class: 'btn'
/   span  in development only

/ p Alternatively, you can authorize us to just read your tweet but not send out any ones. Your decision should depend on what you'd like to do with the individual account. If you want to handle tweets and send out replies, you should grant full access. If you want to authorize a <b>secondary account</b> to perform more search queries per timeframe but do not want to tweet from this account, read access is just fine.


/ = link_to 'Authorize read and tweet', authorize_project_twitter_accounts_path(@project, authorize_for: 'read_and_write_and_messages'), method: :post, class: 'btn'
/ '  or
/ = link_to 'Authorize read-only', authorize_project_twitter_accounts_path(@project, authorize_for: 'read'), method: :post, class: 'btn'
/ '  or

/ = link_to 'Authorize full access', authorize_project_twitter_accounts_path(@project, authorize_for: 'read_and_write_and_messages'), method: :post, class: 'btn btn-primary'
/ = link_to 'Add Twitter account with full read and write access', authorize_project_twitter_accounts_path(@project, authorize_for: 'read_and_write_and_messages'), method: :post
/ = link_to 'Add with read and write access', authorize_project_twitter_accounts_path(@project, authorize_for: 'read_and_write'), method: :post
