---
http_interactions:
- request:
    method: post
    uri: https://<TWITTER_CONSUMER_KEY>:<TWITTER_CONSUMER_SECRET>@api.twitter.com/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"87f5a16a0576dafbb5c8d33eeaabfe1c"'
      Last-Modified:
      - Mon, 29 Jul 2013 21:03:55 GMT
      Status:
      - 200 OK
      X-Mid:
      - e3976fa0cbae7cfe378be3abd3ea4df494aeab88
      X-Transaction:
      - 93cd730e217b59eb
    body:
      encoding: UTF-8
      string: '{"access_token":"AAAAAAAAAAAAAAAAAAAAAJu4QwAAAAAAVM71GL1x6BF8XECJXnSUUtRr7S8%3D5pHyluqeth6qY61G01U8deQ0F01qBEh320yR0E3Y7M","token_type":"bearer"}'
  recorded_at: Mon, 29 Jul 2013 21:03:57 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=simyo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJu4QwAAAAAAVM71GL1x6BF8XECJXnSUUtRr7S8%3D5pHyluqeth6qY61G01U8deQ0F01qBEh320yR0E3Y7M
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 29 Jul 2013 21:03:56 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1375132736'
      X-Transaction:
      - eb763fad1a79e887
    body:
      encoding: UTF-8
      string: '{"id":33878217,"id_str":"33878217","name":"simyo Deutschland","screen_name":"simyo","location":"D\u00fcsseldorf","description":"Der
        offizielle simyo Deutschland Twitter-Account. http:\/\/t.co\/8wpTA0iKgd","url":"http:\/\/t.co\/LR5S23ZT1i","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/LR5S23ZT1i","expanded_url":"http:\/\/www.simyo.de\/","display_url":"simyo.de","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/8wpTA0iKgd","expanded_url":"http:\/\/www.simyo.de\/de\/unternehmen\/impressum.html","display_url":"simyo.de\/de\/unternehmen\u2026","indices":[50,72]}]}},"protected":false,"followers_count":3791,"friends_count":1111,"listed_count":143,"created_at":"Tue
        Apr 21 11:39:55 +0000 2009","favourites_count":251,"utc_offset":7200,"time_zone":"Berlin","geo_enabled":true,"verified":false,"statuses_count":3376,"lang":"de","status":{"created_at":"Mon
        Jul 29 12:30:08 +0000 2013","id":361825972510662656,"id_str":"361825972510662656","text":"Wir
        haben f\u00fcr euch die neuesten Informationen zum SIM-Karten-Hack: Ihr als
        E-Plus-Kunden seid nicht betroffen. http:\/\/t.co\/TtyIdxPhpV \/hg","source":"\u003ca
        href=\"http:\/\/www.tweetdeck.com\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/TtyIdxPhpV","expanded_url":"http:\/\/eplus-gruppe.de\/sim-karten-im-e-plus-netz-nicht-betroffen\/","display_url":"eplus-gruppe.de\/sim-karten-im-\u2026","indices":[111,133]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"de"},"contributors_enabled":false,"is_translator":false,"profile_background_color":"E0E3E3","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/873901371\/ba4786c3fdb39fcc714c47304548e7bb.jpeg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/873901371\/ba4786c3fdb39fcc714c47304548e7bb.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/195843444\/simyo_wallpaper_1920x1200_PNG_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/195843444\/simyo_wallpaper_1920x1200_PNG_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/33878217\/1367598366","profile_link_color":"DB5C07","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F2EFEA","profile_text_color":"3C3940","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null}'
  recorded_at: Mon, 29 Jul 2013 21:03:58 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=20&screen_name=simyo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJu4QwAAAAAAVM71GL1x6BF8XECJXnSUUtRr7S8%3D5pHyluqeth6qY61G01U8deQ0F01qBEh320yR0E3Y7M
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 29 Jul 2013 21:03:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1375132739'
      X-Transaction:
      - 8988cdabdd3506bd
    body:
      encoding: UTF-8
      string: '[{"created_at":"Mon Jul 29 12:30:08 +0000 2013","id":361825972510662656,"id_str":"361825972510662656","text":"Wir
        haben f\u00fcr euch die neuesten Informationen zum SIM-Karten-Hack: Ihr als
        E-Plus-Kunden seid nicht betroffen. http:\/\/t.co\/TtyIdxPhpV \/hg","source":"\u003ca
        href=\"http:\/\/www.tweetdeck.com\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":33878217,"id_str":"33878217","name":"simyo
        Deutschland","screen_name":"simyo","location":"D\u00fcsseldorf","description":"Der
        offizielle simyo Deutschland Twitter-Account. http:\/\/t.co\/8wpTA0iKgd","url":"http:\/\/t.co\/LR5S23ZT1i","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/LR5S23ZT1i","expanded_url":"http:\/\/www.simyo.de\/","display_url":"simyo.de","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/8wpTA0iKgd","expanded_url":"http:\/\/www.simyo.de\/[...]
