/ help
markdown:
  # Help: Tweeting

  ## Embedding links, images and videos

  ### Links

  We'll autolink URLs for you, that means your customers can click on links when you paste them in.

  If you want to give your link a different description, you can use the Markdown syntax.


      [Basecamp Project Management](http://basecamp.com)

  ### Images

      ![Image title](http://example.com/path/to/image.jpg)

  ### Videos

  Paste URLs from Youtube, Vimeo and Wistia to have them automatically transformed into an embedded video.


      [Basecamp - Working with Clients](http://vimeo.com/70817051)
      [Steve Jobs' Commencement Address](http://www.youtube.com/watch?v=UF8uR6Z6KLc)

  ### Slides
  Paste URLs from Speaker Deck and SlideShare.


      [Slides on Speaker Deck](https://speakerdeck.com/holman/word-of-mouth)
      [Slides on SlideShare](http://de.slideshare.net/Desk/50-customer-service-quotes-you-need-to-hang-in-your-office-17322763)

  ### More info

  We're parsing the tweets you publish (and especially all long tweets) with [Github flavored markdown](https://help.github.com/articles/github-flavored-markdown). You can thus easily paste links that will be autolinked, give them a different text `[Link text](http://example.com)`, embed images `![Image alt text](http://example.com/images/image.png)`, videos and more as described above.

  Did we miss something? Please tweet or [mail](mailto:thomas@tweetbox.co) if you have additional questions or requests!
