h3 Imprint

h4 TweetBox.co is a publication of:
address
  strong
    | Rainmaker UG (haftungsbeschränkt)
  | <br>Musterstrasse 123<br>12345 Musterstadt<br>Germany<br>
  abbr title="Phone"
    | P:
  |  +49 (0) 12 1234 5678<br>info@tweetbox.co


h4 Managing Directors:
p Thomas Klemm, Philipp Thiel

h4 Registry:
p Amtsgericht XYZ

h4 Registration Number:
p HRB 123456

h4 International VAT ID No:
p As specified in §27A of the German VAT Law ('Umsatzsteuergesetz')<br>DE 123 456 789

h4 Person responsible for content:
p in accordance with §6 MDStV<br>Thomas Klemm, Philipp Thiel
p Despite careful content control we do not take responsibility for any externally provided content or for the contents of linked sites which are the responsibility of their own operators.
h4 This site uses images of photocase.de:
p Foto ID: 188856 -> photographer: five
