Paymill.com is a proposal offered by:

PAYMILL GmbH
St.-Cajetan-Straße 43
81669 München

Telephone: +49 (0) 89 / 599 789 - 13
E-mail: info@paymill.com

London office

Telephone: +44 (0) 203 / 510 60 - 19
E-mail: info@paymill.com

Paris office

Telephone: +33 (0) 184 17 38 82
E-mail: info@paymill.fr

Executive Director:

Mark Henkel, Kilian Thalhammer & Jörg Sutara

Registered at Munich District Court, HRB 200200
Tax number: 143/169/75071
Sales tax ID: DE285277965

Person responsible for own contents of PAYMILL GmbH as per Art. 55 RStV [German Interstate Broadcasting Treaty]: Mark Henkel, Kilian Thalhammer & Jörg Sutara

Liability Notice
Despite carefully monitoring all contents, we do not assume any liability for the contents of external links. Their operators shall be solely responsible for the contents of the linked websites.

twitter facebook Blog
