/ privacy policy inspired by https://transloadit.com/privacy-policy
markdown:
  ## Privacy Policy

  In order to provide this service, we capture & store information about you, and the users uploading material to the service:

  ### From the website
    * IP Addresses
    * Request Headers
    * Your user agent (browser, device, etc.)
    * Data entered on our website

  All data stored by us is only used for internal processing, and never sold or otherwise given away.

  ### Third party services

  We use the following third party services which also store data about you:

    * Google Analytics (for statistics)
    * Gauges (for statistics)
    * Mixpanel (for statistics)
    * Stripe (for payment and credit card data)
