/ div class="container"
/   // Kopf der Seite
/   div class="row"
/     div class="span12"
/       h1 Team

/ div class="container"
/   // Team-Member
/   div class="row center"
/     div class="span3 offset3"
/       h1 Thomas
/       img src="assets/thomas.jpg" class="img-circle"
/       h4 Founder / Rainmaker
/       div class=""
/         i class="icon-envelope-alt" &nbsp;
/         i class="icon-xing" &nbsp;
/         i class="icon-linkedin-sign" &nbsp;
/         i class="icon-google-plus"
/     div class="span3 center"
/       h1 Philipp
/       img src="assets/philipp.jpg" class="img-circle"
/       h4 Founder / Business Development
/       div class=""
/         i class="icon-envelope-alt" &nbsp;
/         i class="icon-xing" &nbsp;
/         i class="icon-linkedin-sign" &nbsp;
/         i class="icon-google-plus"

/ hr

/   div class="row"
/     div class="span6 offset3 center"
/       blockquote
/         p
/           i class="icon-quote-left"
/           |  Life is short. Live your dream and share your passion!
/         small Co-founder of rainmakers <cite title="Source Title">Philipp Thiel</cite>

/ hr
