/ Terms of service inspired by https://transloadit.com/terms-of-service
markdown:
  ## Terms of Service

  By creating a tweetbox.co account, you are agreeing to be bound by the following terms and conditions between you and Tweetbox by Thomas Klemm Webanwendungen.

  Tweetbox reserves the right to update and change the Terms of Service. We will notify you about such changes via email. Continued use of the service after any such change shall constitute your consent.

  You expressly understand and agree that Tweetbox shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Tweetbox has been advised of the possibility of such damages), resulting from your use of this service.

  Tweetbox shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.

  ### Account Terms
    * You must be 13 years or older to use this Service.
    * You must be a human. Accounts registered by “bots” or other automated methods are not permitted.
    * This is not an end-consumer product. Consumer law does not apply.
    * You are responsible for maintaining the security of your account and password.
    * You are responsible for all content posted and activity that occurs under your account, this includes all uploads made by users of your service that you are integrating Tweetbox into.
    * Tweetbox must not be used for copyright violations, or other material illegal in your jurisdiction, or that of Bad Kissingen, Germany.
    * Tweetbox may contact you about your account or updates to our service at any point.
    * We will never sell your contact information.
    * You grant Tweetbox the right to use your company name and logo in promotional material. If you need an exception to this, please send us an email before you sign up.

  ### Payment & Pricing
    * On the 1st of each month, you are charged according to your data usage of the previous month.
    * Invoices are due immediately.
    * You may cancel your account at any time. You will always only be billed for the usage you had in a given month.
    * If we cannot charge your credit card, and you do not provide a working replacement within 30 days, we will cancel your account. We may cancel your account earlier than that if your account shows excessive usage patterns and you are not responsive via email.
    * We may make changes to our pricing in the future. Continued usage of our service will require accepting the new pricing. Our goal is to lower pricing in the future, but that is not guaranteed.
    * We reserve the right to retract bonuses and/or rewards that you earned by tweeting, sending feedback, referring customers or by any other means at our own discretion.
    * The rewards & bonus system is capped at $500 discount per month.

  ### Refund Policy
  You can always cancel if you are unhappy, and we'll grant you a refund for your last monthly payment when you email to support@tweetbox.co.

  ### Severability Clause
  If a provision of this Agreement is or becomes illegal, invalid or unenforceable in any jurisdiction, that shall not affect:

  The validity or enforceability in that jurisdiction of any other provision of this Agreement; or
  The validity or enforceability in other jurisdictions of that or any other provision of this Agreement.
  Invalid provisions shall be replaced by valid ones, that are as close as possible to the originals.

  ### Legal Jurisdiction
  The legal jurisdiction for any disputes under this agreement is Bad Kissinge, Germany.

  ### Questions?
  In case you are uncertain about the meaning of any point, please contact us at support@tweetbox.co.

  This document was last changed on: October 25, 2013
