h1 Projects#show
p Find me in app/views/projects/show.html.slim

div Name: #{ @project.name }

- if policy(@project).edit?
  = link_to 'Edit this project', edit_account_project_path(@project.account, @project)
