---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=simyo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="54858eb887094d748b594fec7ff256f5",
        oauth_signature="viCcc9iYBPBr5xeQ9bgnYzgy1vM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1375747918", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwisY2HgiHKR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 06 Aug 2013 00:11:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1375748819'
      X-Transaction:
      - 10c53b508d8164d7
    body:
      encoding: UTF-8
      string: '{"id":33878217,"id_str":"33878217","name":"simyo Deutschland","screen_name":"simyo","location":"D\u00fcsseldorf","description":"Der
        offizielle simyo Deutschland Twitter-Account. http:\/\/t.co\/8wpTA0iKgd","url":"http:\/\/t.co\/LR5S23ZT1i","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/LR5S23ZT1i","expanded_url":"http:\/\/www.simyo.de\/","display_url":"simyo.de","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/8wpTA0iKgd","expanded_url":"http:\/\/www.simyo.de\/de\/unternehmen\/impressum.html","display_url":"simyo.de\/de\/unternehmen\u2026","indices":[50,72]}]}},"protected":false,"followers_count":3803,"friends_count":1111,"listed_count":142,"created_at":"Tue
        Apr 21 11:39:55 +0000 2009","favourites_count":254,"utc_offset":7200,"time_zone":"Berlin","geo_enabled":true,"verified":false,"statuses_count":3409,"lang":"de","status":{"created_at":"Mon
        Aug 05 15:54:41 +0000 2013","id":364414164120657920,"id_str":"364414164120657920","text":"RT
        @David_Philippe: Mir wurde ein Mexikaner versprochen, wenn ich Fragen beantworte.
        L\u00e4uft, dachte ich mir: http:\/\/t.co\/P5hSmYGdrr #simyo #\u2026","source":"\u003ca
        href=\"http:\/\/janetter.net\/\" rel=\"nofollow\"\u003eJanetter\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Aug 05 15:52:51 +0000 2013","id":364413703157846016,"id_str":"364413703157846016","text":"Mir
        wurde ein Mexikaner versprochen, wenn ich Fragen beantworte. L\u00e4uft, dachte
        ich mir: http:\/\/t.co\/P5hSmYGdrr #simyo #10Fragen","source":"\u003ca href=\"http:\/\/www.hootsuite.com\"
        rel=\"nofollow\"\u003eHootSuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":3,"entities":{"hashtags":[{"text":"simyo","indices":[111,117]},{"text":"10Fragen","indices":[118,127]}],"symbols":[],"urls":[{"url":"http:\/\/t.co\/P5hSmYGdrr","expanded_url":"http:\/\/bit.ly\/194sn7w","display_url":"bit.ly\/194sn7w","indices":[88,110]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"de"},"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[{"text":"simyo","indices":[131,137]}],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"David_Philippe","name":"David
        Philippe","id":55507025,"id_str":"55507025","indices":[3,18]}]},"favorited":false,"retweeted":false,"lang":"de"},"contributors_enabled":false,"is_translator":false,"profile_background_color":"E0E3E3","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/873901371\/ba4786c3fdb39fcc714c47304548e7bb.jpeg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/873901371\/ba4786c3fdb39fcc714c47304548e7bb.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/195843444\/simyo_wallpaper_1920x1200_PNG_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/195843444\/simyo_wallpaper_1920x1200_PNG_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/33878217\/1367598366","profile_link_color":"DB5C07","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F2EFEA","profile_text_color":"3C3940","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 06 Aug 2013 00:11:59 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=100&screen_name=simyo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="93b81fecc44fc1fb26114886eda2bb79",
        oauth_signature="2aBz1Ji9JHnYpEj9zsxdNlcRc0Y%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1375747919", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwis[...]
