// Experiments in SASS

// Links
a:hover
  text-decoration: none

// Icons
i
  padding-top: 1px

// floats
.left
  float: left
.right
  float: right

// spaces
.space-quarter
  height: 0.25rem
.space-half
  height: 0.5rem
.space-one
  height: 1rem
.space-one-and-a-half
  height: 1.5rem
.space-two
  height: 2rem
.space-two-and-a-half
  height: 2.5rem
.space-three
  height: 3rem

// footer
@import "compass/layout/sticky-footer"
@include sticky-footer(248px, "#root", "#root_footer", "#footer")

$footer-spacing: 8px
$footer-borders: 1px dashed #bbb

.footer
  margin-top: 24px
  border-top: $footer-borders
  padding-top: 12px

  font-size: 0.875rem

  // links in footer
  ul.links
    float: left
    li
      display: inline
      padding-right: $footer-spacing
      margin-right: $footer-spacing
      border-right: $footer-borders
      &:last-of-type
        border-right: none

  // greeting and maker's name in footer
  .greeting
    float: right
    span
      padding-left: $footer-spacing
      margin-left: $footer-spacing
      border-left: $footer-borders
      &:first-of-type
        border-left: none

// experiments in SASS
$navigation-spacing: 0.75rem

.navigation
  margin-bottom: 1rem
  &.outer-container
    height: 42px
    line-height: 42px
    background: #f33
    a
      color: #e9e9e9

  .brand
    font-weight: bold

  .project-link, .account-link
    margin-right: $navigation-spacing

  .user-details
    img.gravatar
      display: inline
      vertical-align: middle
      border-radius: 3px

    .name
      margin-left: 4px

  .login, .logout
    margin-left: $navigation-spacing


.twitter-accounts-wrapper
  .twitter-account
    margin-top: 1rem
    .avatar
    .name
      margin: 0 0.5rem
      font-weight: bold
    .screen-name
      margin-right: 0.5rem
    .read-only
      font-style: italic
      color: red
    .stats
      margin-left: 1rem
    .searches-wrapper
      margin-left: 2rem

.twitter-accounts-table
  .twitter-account
    img.avatar
    .screen-name
      font-weight: bold
    .name

// .tweets-table
//   .tweet
//     padding: 1rem
//     .author
//       color: $textColor
//       .name
//         font-weight: bold
//       .screen-name
//         margin-left: 5px
//     .text
//       height: 2 * $baseLineHeight

// .tweets-wrapper
//   .tweet
//     .avatar
//     .author
//       &:hover
//         text-decoration: none !important
//       .name
//         font-weight: bold
//         &:hover
//           text-decoration: underline !important
//       .screen-name
//         padding-left: 5px

//     &:not(:last-of-type)
//       padding-bottom: 1rem
//       border-bottom: 1px solid #ddd
//       margin-bottom: 1rem

//     .text
//       white-space: pre-wrap
//       // margin-left: 58px

.tweets-wrapper .tweet-wrapper
  &:not(:last-of-type)
    padding-bottom: 1rem
    border-bottom: 1px solid #ddd
    margin-bottom: 1rem

  .tweet
    padding: 12px
    padding-left: 72px

    .avatar
      float: left
      margin-top: 4px
      margin-left: -58px
      border-radius: 2px

    .author
      .name
        font-weight: bold
        color: $textColor
      .screen-name
        margin-left: 5px
        @extend .muted

    .text
      height: (2 * $baseLineHeight) + 3px

.zeroclipboard-is-hover
  color: $dropdownLinkColorHover !important
  background-color: $dropdownLinkBackgroundHover

.zeroclipboard-is-active
  color: $dropdownLinkColor
  background-color: $dropdownBackground

// .zeroclipboard-is-hover
//   color: rgb(51, 51, 51)
//   background-color: rgb(230, 230, 230)
//   text-decoration: none
//   background-position: 0px -15px
//   transition: background-position 0.1s linear 0s

// .zeroclipboard-is-active
//   color: rgb(51, 51, 51)
//   background-color: rgb(230, 230, 230)
//   background-image: none
//   outline: 0px none
//   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05)

// .character-count
//   font-weight: bold
//   &.too-many-characters
//     color: red

// .tweet-preview-wrapper
//   width: 540px

// .tweet-preview
//   background: #f5f5f5
//   border: 1px solid #fff
//   box-shadow: 0 0 5px 3px hsla(0, 0%, 0%, 0.1)

//   padding: 12px
//   padding-left: 72px

//   .avatar
//     float: left
//     margin-top: 4px
//     margin-left: -58px
//     border-radius: 2px

//   .author
//     .name
//       font-weight: bold
//       color: $textColor
//     .screen-name
//       margin-left: 5px
//       @extend .muted

//   .text
//     min-height: (2 * $baseLineHeight) + 3px

.new-status-wrapper
  .actions
    width: 285px
    line-height: 30px

    .character-counter
      float: right

.preview-status-wrapper
  width: 420px

  .preview-status, .in-reply-to-status
    padding: 12px 10px 12px 72px
    border: 5px solid #f9f9f9

    .avatar
      float: left
      margin-top: 5px
      margin-left: -58px
      border-radius: 2px

    .author
      .name
        font-weight: bold
        color: $textColor
      .screen-name
        margin-left: 5px
        @extend .muted

    .text
      white-space: pre-wrap  // pre-wrap and pre-line seem to be good options

  .preview-status
    .text
      min-height: (3 * $baseLineHeight)

  .in-reply-to-status
    background: #f9f9f9
    .text
      min-height: (2 * $baseLineHeight)
