---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="44da954c18fe8e624f4fafbff5f3d0c3",
        oauth_signature="hkFj4ixvPaBk6XYiiTlqBOO6fD8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373566454", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwisY2HgiHKR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 11 Jul 2013 18:14:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1373567355'
      X-Transaction:
      - 75bb408cda5b8e32
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri May 24 11:34:03 +0000 2013","id":337894259388715010,"id_str":"337894259388715010","text":"@tweetbox101
        How do you like Basecamp?","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":1444843380,"in_reply_to_user_id_str":"1444843380","in_reply_to_screen_name":"tweetbox101","user":{"id":1444875170,"id_str":"1444875170","name":"Tweetbox
        102","screen_name":"tweetbox102","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Mon
        May 20 21:56:32 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":18,"lang":"de","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":null,"follow_request_sent":false,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"tweetbox101","name":"Tweetbox
        101","id":1444843380,"id_str":"1444843380","indices":[0,12]}]},"favorited":false,"retweeted":true,"lang":"en"},{"created_at":"Tue
        May 21 00:36:19 +0000 2013","id":336641572106035200,"id_str":"336641572106035200","text":"@tweetbox101
        Let me clear that for you.","source":"\u003ca href=\"http:\/\/birdview.dev\"
        rel=\"nofollow\"\u003eTweetbox Ascending\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":336638108076490752,"in_reply_to_status_id_str":"336638108076490752","in_reply_to_user_id":1444843380,"in_reply_to_user_id_str":"1444843380","in_reply_to_screen_[...]
