---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="f197adf632cbdba15b5383478a80ec0d",
        oauth_signature="rZnIpdE0cU1uDffBJN%2FQYgYeFmI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373613674", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwisY2HgiHKR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 12 Jul 2013 07:21:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1373614571'
      X-Transaction:
      - 3991da79307736af
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Jun 27 19:43:22 +0000 2013","id":350338584332603392,"id_str":"350338584332603392","text":"@tweetbox101
        Something\u2019s not working. How can I fix it?","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":1444843380,"in_reply_to_user_id_str":"1444843380","in_reply_to_screen_name":"tweetbox101","user":{"id":1444875170,"id_str":"1444875170","name":"Tweetbox
        102","screen_name":"tweetbox102","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Mon
        May 20 21:56:32 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":18,"lang":"de","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":null,"follow_request_sent":false,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"tweetbox101","name":"Tweetbox
        101","id":1444843380,"id_str":"1444843380","indices":[0,12]}]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Tue
        Jun 25 20:35:46 +0000 2013","id":349626998232055808,"id_str":"349626998232055808","text":"@tweetbox101
        Definitely. http:\/\/t.co\/frj77dGAAT Cras justo odio, dapibus ac facilisis
        in, egestas eget quam. Duis ... http:\/\/t.co\/9jnmjskes5","source":"\u003ca
        href=\"http:\/\/birdview.dev\" rel=\"nofollow\"\u003eTweetbox Ascending\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":349246362220625920,"in_reply_to_status_id_st[...]
[...]
