// Experiments in SASS

.tweets-wrapper .tweet-wrapper
  &:not(:last-of-type)
    padding-bottom: 1rem
    border-bottom: 1px solid #D4CDC1
    margin-bottom: 1rem

.tweet-wrapper
  .tweet
    margin-top: 0.6rem
    padding-left: 58px

    .avatar
      float: left
      margin-top: 4px
      margin-left: -58px
      border-radius: 2px

    .author
      .name
        font-weight: bold
        color: $textColor
      .screen-name
        margin-left: 5px
        @extend .muted

    .timestamp
      margin-left: 8px
      @extend .muted
      font-size: 12px

    .text
      margin-bottom: 2px
      p
        margin: 0

    .main-actions
      float: right

      a
        display: inline-block
        border: 2px solid $blue
        background: $white
        color: $blue
        padding: 1rem 0.33rem
        margin-left: 2px
        &:hover
          background: $blue
          color: $white
        &:first-of-type
          margin-left: 1rem

    .actions a:not(:first-of-type), .dropdown-link
      margin-left: 8px
      border-left: 1px solid #ccc
      padding-left: 8px

    &.main-tweet
      // .text
      //   min-height: (2 * $baseLineHeight) + 3px

    &.conversation-tweet
      font-size: 13px

      .avatar
        width: 32px
        height: 32px
        // margin-left: -42px

      .actions a
        @extend .muted

      .actions
        visibility: hidden
      &:hover .actions
        visibility: visible

    .forms form
      padding: 8px 0

    .events
      font-size: 12px
      @extend .muted

    .event
      .user-name
        // font-weight: bold
      .timestamp
        @extend .muted
        float: right
        visibility: hidden
      &:hover .timestamp
        visibility: visible

abbr.timeago
  border-bottom: none

.zeroclipboard-is-hover
  color: $dropdownLinkColorHover !important
  background-color: $dropdownLinkBackgroundHover

.zeroclipboard-is-active
  color: $dropdownLinkColor
  background-color: $dropdownBackground

// New status
.new-status-wrapper
  width: 420px

  .actions
    line-height: 30px

    .character-counter
      float: right

  .preview-status
    padding: 12px 10px 12px 72px
    border: 1px solid #ccc
    box-shadow: 1px 1px 3px #ccc
    border-radius: 3px

    .avatar
      float: left
      margin-top: 5px
      margin-left: -58px
      border-radius: 2px

    .author
      .name
        font-weight: bold
        color: $textColor
      .screen-name
        margin-left: 5px
        @extend .muted

    .text
      white-space: pre-wrap  // pre-wrap and pre-line seem to be good options
      color: $textColor

  .preview-status
    .text
      min-height: (4 * $baseLineHeight)


// Public tweets
.public-tweet-wrapper
  .tweet
    margin-bottom: 2rem
    padding-left: 58px
    max-width: 440px

    .avatar
      float: left
      margin-top: 4px
      margin-left: -58px
      border-radius: 2px

    .author
      .name
        font-weight: bold
        color: $textColor
      .screen-name
        margin-left: 5px
        @extend .muted

    .timestamp
      margin-left: 8px
      @extend .muted
      font-size: 12px

    .text
      margin-bottom: 2px
      p
        margin: 0

    .actions
      margin-top: 2px
      font-size: 13px

      a:not(:first-of-type)
        margin-left: 8px
        border-left: 1px solid #ddd
        padding-left: 8px

    &.main-tweet

    &.conversation-tweet
      .actions a
        @extend .muted

    &.reply
      position: relative
      left: 40px
