// Experiments in SASS

.navbar
  margin-bottom: 16px // default is 20px

.marketing.long-reply
  margin-top: -16px // remove margin so image reaches navbar

ul.list-inline
  li.divider
    color: #ccc
    &:after
      content: "|"

.field_with_errors
  @extend .has-error

.error-heading
  @extend h4
  @extend .text-danger

ul.error-messages
  @extend .list-unstyled
  li.message
    @extend .text-danger

#show-tweets
  margin: 0 auto
  position: relative
  width: 200px
  height: 0
  top: -12px
  padding-top: -1.25rem

  // display: block
  // line-height: 0
  // height: 0
  // overflow: hidden
  a
    font-weight: bold
    padding: 1.2rem 2rem
    background: darken(#fcf8e3, 1%)
    text-align: center
    border-radius: 3px

$tweets-border-color: #e5e5e5

.tweets
  &.bordered
    border: 1px solid $tweets-border-color
    border-radius: 5px
    &:empty
      border: none

    .conversation_for_tweet
      padding: 0 1rem
      border-bottom: 1px solid $tweets-border-color
      .tweet
        margin: 1rem 0

  .tweet
    padding-left: 46px
    padding-right: 90px

    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

    // center font awesome icons
    i
      display: inline-block
      position: relative
      top: 1px

    img.avatar
      float: left
      margin: 2px 0 0 -46px

      width: 36px
      height: 36px

      // round image
      border-radius: 100px

    .author
      .name
        font-weight: bold
      .screen-name
        margin-left: 6px

    .timestamp
      margin-left: 12px
      color: #bbb

    // links to tweet and tweet on twitter
    .deeplinks a
      color: #bbb
      &:first-of-type
        margin-left: 8px
      &:hover
        color: $link-color

    .text
      display: block
      word-wrap: break-word

    .events
      @extend .text-muted

    // &.incoming .text
    //   min-height: 40px // two lines

    // .actions a
    //   padding: 0 10px
    //   border-right: 1px solid #ddd
    //   &:first-child
    //     padding-left: 0
    //   &:last-child
    //     border-right: none

    .actions
      margin: 0px -90px 0 12px
      float: right
      a
        height: 38px
        i
          position: relative
          top: 3px

    &.incoming .actions
      a
        @extend .btn-primary
      .reply-btn, .resolve-and-activate-btn

    &.resolved .actions
      a
        @extend .btn-default
        color: $brand-success
      .resolve-and-activate-btn

.public-tweets
  @extend .tweets

  .tweet
    padding-right: 6px

abbr.timeago
  border-bottom: none

// new status form
.new_status, .edit_status
  margin: 0.8rem 0
  .author
    color: $link-color

.new-status-wrapper
  .new_status, .edit_status
    padding-left: 46px

    img.avatar
      float: left
      margin: 2px 0 0 -46px

      width: 36px
      height: 36px

      // round image
      border-radius: 100px

    .author
      .name
        font-weight: bold
      .screen-name
        margin-left: 6px

// tweets pagination
.tweets-pagination
  @extend .pagination

// Public tweets
// .public-tweet-wrapper
//   max-width: 500px
//   margin: 0 auto // center

//   .tweet
//     margin-bottom: 2rem
//     padding-left: 58px

//     .avatar
//       float: left
//       margin-top: 4px
//       margin-left: -58px
//       border-radius: 2px

//     .author
//       .name
//         font-weight: bold
//         color: $textColor
//       .screen-name
//         margin-left: 5px
//         @extend .text-muted

//     .timestamp
//       margin-left: 8px
//       @extend .text-muted
//       font-size: 12px

//     .text
//       margin-bottom: 2px
//       p
//         margin: 0

//     .actions
//       margin-top: 2px
//       font-size: 13px

//       a:not(:first-of-type)
//         margin-left: 8px
//         border-left: 1px solid #ddd
//         padding-left: 8px

//     &.main-tweet

//     &.conversation-tweet
//       .actions a
//         @extend .text-muted

//     &.reply
//       position: relative
//       left: 40px

// logo header
.logo-header
  padding-left: 33px
  margin: 0 0.8rem 1rem

  img
    float: left
    margin: 2px 0 0 -43px

    width: 36px
    height: 36px

  .title
    font:
      size: 26px
      weight: 700
      color: #555

  .subtitle
    margin-left: 8px

// public tweets, also used when publishing statuses
.public-tweet
  padding-left: 58px
  padding-bottom: 0.5rem

  .author-profile
    img.avatar
      float: left
      margin: 4px 0 0 -58px
      border-radius: 100px
      width: 48px
      height: 48px

    .name
      font-weight: bold
    .screen-name
      @extend .text-muted
      margin: 0 8px

  .timestamp
    @extend .text-muted

  .text
    min-height: (2 * $line-height-base)

  .public-actions
    padding-top: 0.5rem
    span:not(:first-of-type)
      margin-left: 8px
      border-left: 1px solid #ccc
      padding-left: 8px

  .embed
    margin: 0.5rem 0


// alerts
.alert
  &:hover
    cursor: pointer

// users
.users-table
  img.avatar
    display: inline
    margin: -8px 4px -8px 0
    vertical-align: middle
    border-radius: 3px

// twitter accounts
.twitter-accounts-table
  .avatar-and-name
    padding-left: 56px

    img.avatar
      float: left
      margin: 2px 0 0 -46px

      width: 36px
      height: 36px

      vertical-align: middle
      border-radius: 3px

    .name
      font-weight: bold
    .screen-name

// character counter in new status form
.character-counter
  margin-top: 3px
  @extend .text-muted

  &.red
    color: $brand-danger
