// application.css.sass

// bootstrap variables
$sansFontFamily: 'proxima-nova', Arial, 'Helvetica Neue', Helvetica, sans-serif
$iconSpritePath: ''
$iconWhiteSpritePath: ''

// libraries
@import 'bootstrap'
@import 'select2'
@import 'functions'

// birdview
@import 'experiments/experiments-in-css'
@import 'experiments/experiments-in-scss'
@import 'experiments/experiments-in-sass'
