---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="702a25b08050bfaad28db44f2983d3ee",
        oauth_signature="1gWxGLJBKA2dHYWZsLDel7Vu568%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373566005", oauth_token="1444843380-hjlU4nf074S6iGPEX153T27FJdnqwisY2HgiHKR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0688d9bebc27d2dadc1814a0b982de6e"'
      Last-Modified:
      - Thu, 11 Jul 2013 18:06:46 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Mid:
      - 907a011259f4139e4a32c3c7fd4e153a0d090ea1
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1373566906'
      X-Transaction:
      - 8e9e8bc1f9fb156e
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef1143d737c3d
    body:
      encoding: UTF-8
      string: '{"is_translator":false,"profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"0084B4","name":"Tweetbox
        101","id_str":"1444843380","followers_count":0,"lang":"de","screen_name":"tweetbox101","profile_use_background_image":true,"listed_count":0,"profile_text_color":"333333","id":1444843380,"verified":false,"status":{"coordinates":null,"retweet_count":0,"retweeted":false,"source":"\u003Ca
        href=\"http:\/\/birdview.dev\" rel=\"nofollow\"\u003ETweetbox Ascending\u003C\/a\u003E","entities":{"urls":[],"hashtags":[],"user_mentions":[]},"in_reply_to_status_id":null,"id_str":"355058461005987840","place":null,"in_reply_to_screen_name":null,"id":355058461005987840,"in_reply_to_status_id_str":null,"geo":null,"favorited":false,"created_at":"Wed
        Jul 10 20:18:28 +0000 2013","in_reply_to_user_id_str":null,"text":"Testing
        this stuff.","truncated":false,"contributors":null,"in_reply_to_user_id":null},"contributors_enabled":false,"notifications":false,"profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","profile_sidebar_border_color":"C0DEED","following":false,"created_at":"Mon
        May 20 21:52:39 +0000 2013","utc_offset":null,"default_profile_image":true,"time_zone":null,"follow_request_sent":false,"profile_background_tile":false,"favourites_count":0,"profile_sidebar_fill_color":"DDEEF6","friends_count":0,"statuses_count":55,"protected":false,"description":null,"profile_background_color":"C0DEED","url":null,"profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","geo_enabled":false,"entities":{"description":{"urls":[]}},"default_profile":true,"location":null,"profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png"}'
  recorded_at: Thu, 11 Jul 2013 18:06:46 GMT
recorded_with: VCR 2.5.0
