/ Javascripts

/ angular
= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js'

/ jquery
= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'

/ twitter web intents
= javascript_include_tag '//platform.twitter.com/widgets.js'

/  application javascripts
= javascript_include_tag :application

/ test
- if Rails.env.test?
  / ajax setup
  javascript:
    $.ajaxSetup({ async: false })
