/ layouts/_head
meta charset='utf-8'

title Tweetbox - Twitter for Business
meta name='description' content='Deliver Exceptional Customer Support on Twitter - Your Twitter Inbox for Teams and Businesses'

meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'
meta name='viewport' content='width=device-width, initial-scale=1.0'

/ display a snippet of the website in google
/ instead of using a description from the open directory project
meta name='robots' content='noodp'

/ fonts
= javascript_include_tag 'https://use.typekit.net/wdr6eav.js'
javascript:
  try{Typekit.load();}catch(e){}

/ stylesheets
= stylesheet_link_tag 'https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css'
= stylesheet_link_tag :application

/ javascripts
/ jquery, angular, embedly, twitter web intents, pusher
= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js'
= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'
= javascript_include_tag 'https://platform.twitter.com/widgets.js'
= javascript_include_tag 'https://d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js'
= javascript_include_tag 'https://cdn.embed.ly/jquery.embedly-3.1.1.min.js'
= javascript_include_tag :application

/ secure headers
= csrf_meta_tags unless publicly_cached?

/ favicon
/ IE uses favicon.ico in root
/ Browsers use favicon.png
/ iOS and Android look for filenames
/ TODO: Add an Apple touch icon (when encouraging users to open Tweetbox on Mobiles)
= favicon_link_tag 'favicon_32x32.png'

/ analytics
- if Rails.env.production?
  / segment.io
  javascript:
    var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
    analytics.load("zspjc03e63");

  / mixpanel
  javascript:
    (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("37a45a915fa612f5e726e5ca3ec89c77");

/ setup for test environment
- if Rails.env.test?
  / ajax setup
  javascript:
    $.ajaxSetup({ async: false })

/ pusher
= render 'pusher_js'
