h1 Accounts#index
p Find me in app/views/accounts/index.html.slim

div: b #{ @accounts.size } accounts
- @accounts.each do |account|
  .account = link_to account.name, account_path(account)

div = link_to 'Add a new account', new_account_path
